div.bordered {
  border: 1px solid;
}
/* div{
    border:1px solid;
} */

.product-sample {
  height: 300px;
  background-color: white;
  border: 1px solid black;
}

.nav-section {
  padding: 20px;
}
.footer-section {
  padding: 20px;
}

p {
  line-height: 1.5;
}

h3 {
  text-align: center;
}

a {
  padding: 10px 20px;
  /* border: 1px solid; */
  color: black;
}
a.wine {
  background-color: rgb(68, 13, 13);
  color: white;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

button {
  margin: auto;
  padding: 10px 30px;
}

label {
  width: 100%;
}

p {
  width: 100%;
  text-align: center;
}

.gray {
  background-color: lightgray;
}

.dark {
  background-color: #424242;
}

.white {
  background-color: #fff;
}

.pink {
  background-color: rgb(243, 217, 222);
}
.wine {
  background-color: rgb(68, 13, 13);
  color: white;
  border: 1px solid white;
}

.cta-button {
  width: 150px;
  height: 40px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form input,
button {
  margin: 0px;
}
.form button {
  border: 1px solid;
}

.social-icon {
  padding: 20px;
  background-color: #424242;
  border-radius: 50%;
}

.post {
  /* border: 1px solid; */
  padding: 20px;
}


.posts {
  max-width: 1200px;
  margin: auto;
}

.post-image {
  height: 400px;
  background-color: #f2f2f2;
}

.post-text {
  line-height: 1.5;
  padding: 30px;
}


.home-text p{
  text-align: left;
}
.home-text a{
  display: inline-block;
  padding: 10px 35px;
  border-radius: 30px;
  margin-right: 20px;
}