<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Pascals Jewelry</title>
  </head>
  <body style="padding: 20px; padding-bottom: 0px;">
    <div class="container-fluid">
      <!-- nav -->
     <div class="row" style="padding: 10px 20px; max-width: 1200px; margin: auto;">
        <div class="col-2" style="padding: 15px">PASCALS JEWELERY</div>
        <div class="col-7" style="padding: 15px; text-align: left;">
          <a href="../index.html"> Home</a>
          <a href="/views/features.html" > Products</a>
          <a href="/views/blog.html"> Features</a>
          <a href="/views/blogs.html"> Blog</a>
          <a href="/views/contact-us.html"> Contact</a>
        </div>
        <div class="col-3" style="padding: 15px; text-align: right;">
          <a href="">search</a>
          <a href="" class="wine">About us</a>
        </div>
      </div>
      <!-- header -->
      <div class="row header">
        <div class="col-12">
            <h2>Blogs</h2>
        </div>
        <div class="col-12" style="border-bottom: 3px solid; border-top: 3px solid; margin: 20px; padding: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-3"  style="background-image: url(/images/blog/ray-tiller-c2zmt5rSMi4-unsplash.jpg); background-size: cover; background-position:center;">image</div>
                    <div class="col-6">
                        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor maxime iusto.</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit obcaecati vitae asperiores, similique accusantium nostrum nam quos tempora architecto veniam quis, molestias reiciendis saepe laboriosam?</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- posts -->
      <div class="row posts">
        <div class="col-6 post">
            <div>
                <div class="post-image" style="background-image: url(/images/blog/alex-avalos-1u7RtVLfdeo-unsplash.jpg); background-size: cover; background-position: center;"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image" style="background-image: url(/images/blog/alvaro-o-donnell-ptoKHlOZqIM-unsplash.jpg); background-size: cover; background-position: center;"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image" style="background-image: url(/images/blog/brian-lawson-e9o9sAy5PL4-unsplash.jpg); background-size: cover; background-position: center;"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image" style="background-image: url(/images/blog/danial-shoorangiz-j2sLf6jhJGQ-unsplash.jpg); background-size: cover; background-position: center;"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image" style="background-image: url(/images/blog/daniel-adesina-kVuLqZAlD6Y-unsplash.jpg); background-size: cover; background-position: center;"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image" style="background-image: url(/images/blog/majid-akbari-w5xXsUWcOJk-unsplash.jpg); background-size: cover; background-position: center;"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
      </div>
      <!-- footer -->
      <div class="row footer wine" style="margin-top: 100px;">
        <img src="/images/footer.jpeg" style="width: 100%;" height="auto" alt="">
      </div>
    </div>
  </body>
</html>
