<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Pascals Jewelry</title>
  </head>
  <body style="padding: 20px; padding-bottom: 0px;">
    <div class="container-fluid">
      <!-- nav -->
      <div class="row">
        <div class="col-3" style="padding: 15px">PASCALS JEWELERY</div>
        <div class="col-5" style="padding: 15px">
          <a href=""> link</a>
          <a href="" class="wine"> link</a>
          <a href=""> link</a>
          <a href=""> link</a>
        </div>
        <div class="col-4" style="padding: 15px">
          <a href="">link</a>
          <a href="">link</a>
          <a href="">link</a>
        </div>
      </div>
      <!-- header -->
      <div class="row header">
        <div class="col-12">
            <h2>Blogs</h2>
        </div>
        <div class="col-12" style="border-bottom: 3px solid; border-top: 3px solid; margin: 20px; padding: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-3">image</div>
                    <div class="col-6">
                        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor maxime iusto.</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit obcaecati vitae asperiores, similique accusantium nostrum nam quos tempora architecto veniam quis, molestias reiciendis saepe laboriosam?</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- posts -->
      <div class="row posts">
        <div class="col-6 post">
            <div>
                <div class="post-image"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
        <div class="col-6 post">
            <div>
                <div class="post-image"></div>
                <div class="pink post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam atque eligendi animi itaque incidunt voluptates facere rem nostrum voluptate illum.
                </div>
            </div>
        </div>
      </div>
      <!-- footer -->
      <div class="row footer wine">
        <div class="container bordered">
          <div class="row pink" style="padding: 10px">
            <div class="row m-auto">
              <div
                class="col-2"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                JOIN NOW
              </div>
              <div class="col-6 form">
                <input type="text" style="width: 60%" />
                <button class="wine">Subscribe</button>
              </div>
              <div class="col-4 form">
                <button class="wine">Text</button>
                <button class="wine">Text</button>
              </div>
            </div>
          </div>
          <div class="row bordered" style="height: 40vh"></div>
          <div class="row" style="padding: 10px">
            <div class="row m-auto">
              <div
                class="col-6"
                style="
                  display: flex;
                  justify-content: center;
                  padding: 10px;
                  gap: 10px;
                "
              >
                <span class="social-icon"></span
                ><span class="social-icon"></span
                ><span class="social-icon"></span
                ><span class="social-icon"></span>
              </div>
              <div
                class="col-6"
                style="
                  display: flex;
                  justify-content: center;
                  padding: 10px;
                  align-items: center;
                "
              >
                Lorem ipsium dolor xyz xyz xyz
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
