<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Pascal Jewelery</title>
  </head>
  <body>
    <div class="container-fluid">
      <!-- nav -->
      <div class="container">
        <div class="row" style="padding: 10px 20px; max-width: 1200px; margin: auto;">
        <div class="col-2" style="padding: 15px">PASCALS JEWELERY</div>
        <div class="col-7" style="padding: 15px; text-align: left;">
          <a href="../index.html""> Home</a>
          <a href="/views/features.html" > Products</a>
          <a href="/views/blog.html"> Features</a>
          <a href="/views/blogs.html"> Blog</a>
          <a href="/views/contact-us.html"> Contact</a>
        </div>
        <div class="col-3" style="padding: 15px; text-align: right;">
          <a href="">search</a>
          <a href="" class="wine">About us</a>
        </div>
      </div>
      </div>

      <div class="row">
        <h3>Our Address</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7927.331325523413!2d3.367586!3d6.5638175!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1645627705047!5m2!1sen!2sng"
          width="600px"
          height="450px"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="row">
        <h3>Email</h3>
        <a href="mailto:chembercode@gmail">pascaljewelery@gmail.com</a>
      </div>
    </div>
  </body>
</html>
