<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Pascal Jewelry</title>
  </head>
  <body>
    <div class="container-fluid">
      <div
        class="row"
        style="padding: 10px 20px; max-width: 1200px; margin: auto"
      >
        <div class="col-2" style="padding: 15px">PASCALS JEWELERY</div>
        <div class="col-6" style="padding: 15px; text-align: left">
          <a href="../index.html"> Home</a>
          <a href="./trending-products.html"> Products</a>
          <a href="#" > Features</a>
          <a href="./blogs.html"> Blog</a>
          <a href="./contact-us.html"> Contact</a>
        </div>
        <div class="col-4" style="padding: 15px; text-align: right">
          <a href="">search</a>
          <a href="" class="wine">About us</a>
        </div>
      </div>
      <div class="row hero bordered" style="height: 60vh; background-image:url(/images/picture\ 10.jpeg); background-size: cover;"></div>
      <div class="row collections" style="padding: 20px;">
        <div class="col-12">
          <div class="wine" style="padding: 20px; max-width: 600px; margin: auto;">
            <h3>Collections</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="col-12">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="pink"  style="height: 40vh; margin: 5px;">
                <div class="container">
                  <div class="row">
                    <div class="col-6 flex-center">Lorem ipsum dolor sit amet consectetur.</div>
                    <div class="col-6">
                      <img src="../images/product-page img-1.png" alt="">
                    </div>
                  </div>
                </div>
                </div>
                <div class="wine" style="height: 20vh; margin:5px">
                  <div class="container">
                    aaa
                    <div class="row">
                      <div class="col-6 flex-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ducimus.
                      </div>
                      <div class="col-6 flex-center">
                        <img src="../images/product-page img-9.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="pink"  style="height: 20vh; margin:5px"></div>
                <div class="pink" style="height: 40vh; margin: 5px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row trending-products" style="padding: 20px;">
            <div class="col-12">
          <div class="wine" style="padding: 30px; max-width: 600px; margin: auto;">
            <h3>Trending Products</h3>
          </div>
          </div>
    </div>
    <div class="row nav-section">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="./trending-products.html">Necklace</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./trending-products.html">Rings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./trending-products.html">Anklet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./trending-products.html">Body chain</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./trending-products.html">Other</a>
              </li>
            </ul>
    </div>
    <div class="row" style="margin: auto; max-width: 1200px;">
        <div id="products" style="border: 1px solid white;">
            <div class="container" style="max-width: 1200;">
              <div class="row">
                <div class="product-sample col-6 col-md-3">
                  <div class="pink">
                    <div class="image"></div>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="" class="wine">link</a>
                  </div>
                </div>
                <div class="product-sample col-6 col-md-3">
                  <div class="pink">
                    <div class="image"></div>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="" class="wine">link</a>
                  </div>
                </div>
                <div class="product-sample col-6 col-md-3">
                  <div class="pink">
                    <div class="image"></div>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="" class="wine">link</a>
                  </div>
                </div>
                <div class="product-sample col-6 col-md-3">
                  <div class="pink">
                    <div class="image"></div>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="" class="wine">link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row" style="margin: auto; max-width: 1200px; border: 1px solid;">
      <div class="col-12" style="display: flex;padding: 0px;">
        <div style="flex:2; height: 40vh; border: 1px solid;">image</div>
        <div class="pink" style="flex:1; height: 40vh;">item</div>
      </div>
      <div class="col-12" style="display: flex; padding: 0px;">
        <div class="pink" style="flex:1; height: 40vh;">item</div>
        <div style="flex:2; height: 40vh; border: 1px solid;">image</div>
      </div>
    </div>
    <div class="row footer wine" style="margin-top: 100px;">
        <div class="container ">

          <div class="row bordered" style="height: 40vh"></div>
          <div class="row" style="padding: 10px">
            <div class="row m-auto">
              <div
                class="col-6"
                style="
                  display: flex;
                  justify-content: center;
                  padding: 10px;
                  gap: 10px;
                "
              >
                <span class="social-icon"></span
                ><span class="social-icon"></span
                ><span class="social-icon"></span
                ><span class="social-icon"></span>
              </div>
              <div
                class="col-6"
                style="
                  display: flex;
                  justify-content: center;
                  padding: 10px;
                  align-items: center;
                "
              >
                Lorem ipsium dolor xyz xyz xyz
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
