<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Pascal's Jewelry</title>
  </head>
  <body ng-app="myApp">
    <div ng-controller="storeCtrl">
      
    <script src="../js/angularjs.js"></script>
    <script src="../js/app.js"></script>
    <div class="container-fluid">

      <div class="row bordered">
        <div
          id="hero bordered blog-pagered col-12"></div>
        <!-- nav -->
      <div class="row" style="padding: 10px 20px; max-width: 1200px; margin: auto;">
        <div class="col-2" style="padding: 15px">PASCALS JEWELERY</div>
        <div class="col-7" style="padding: 15px; text-align: left;">
          <a href="../index.html" > Home</a>
          <a href="/views/features.html" > Products</a>
          <a href="/views/blog.html"> Features</a>
          <a href="/views/blogs.html"> Blog</a>
          <a href="/views/contact-us.html"> Contact</a>
        </div>
        <div class="col-3" style="padding: 15px; text-align: right;">
          <a href="">search</a>
          <a href="" class="wine">About us</a>
        </div>
      </div>
      
      <div class="row ">
        <div
          id="hero  col-12"

          style="
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../images/trending-product-hero.jpeg);
            background-size: cover;
          "
        >
        
          <h3 style="max-width: 600px; font-size: 60px; text-shadow: 0px 0px 3px #424242; color: white;">
            Exquisite Jewelry at The Best price

          </h3>
        </div>
      </div>
      <div class="row">
        <div id="nav" >
          <div class="container">

            <div class="row nav-section">
              <div
                class="col-12"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <span class="wine" style="padding: 20px"
                  >Trending Products</span
                >
              </div>
            </div>


             <div class="container">
               <div class="row ">
                 <div class="col-6 m-auto " style="display: flex; justify-content: center; gap: 20px;">
                   <span class="wine" ng-click="showProducts()" style="padding: 15px; flex: 1; text-align: center;">Products</span>
                   <span class="wine" ng-click="showCart()" style="padding: 15px; flex: 1; text-align: center;">Cart</span>
                 </div>
               </div>
             </div>

            </div>
          </div>
        </div>
      </div>
      <!-- shop -->
      <div class="row">
        <div id="products" style="border: 1px solid white">
          <div class="container" style="max-width: 1200">

            <div class="row" >
             <div class="container" id="productSection">
               <div class="row">
                 <div class="product-sample col-6 col-md-3" ng-repeat="x in products">
                   <div class="pink" style="padding: 10px;">
                    <div class="image" style="background-image: url('{{x.url}}'); background-size: cover;">
                    </div>
                  <p>{{x.name}}</p>
                  <p>${{x.cost}}</p>
                  <button class="wine" ng-click ="addToCart(x.index)" >Add to cart</button>
                </div>
      
    </div>
               </div>
             </div>
            </div>

            <div class="row" id="cartSection">
              <div class="container">
                <div class="row">
                  <div class="product-sample col-6 col-md-3" ng-repeat="x in cart">
                    <div class="pink" style="padding: 10px;">
                       <div class="image" style="background-image: url('{{x.url}}'); background-size: cover;"></div>
                  <p>${{x.cost}}</p>
                      <p>{{x.name}}</p>
                      <button class="wine" ng-click ="removeFromCart(x.index)" >Remove from cart</button>
                    </div>
          
        </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

       <!-- footer -->
      <div class="row footer wine" style="margin-top: 100px;">
        <img src="/images/footer.jpeg" style="width: 100%;" height="auto" alt="">
      </div>
      </div>
  
    </div>
  </body>

</html>


